@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'material-symbols/outlined.css';

@import 'react-datepicker/dist/react-datepicker.css';
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --icon-size: 48;
}

body {
  background: transparent;
}
.material-symbols-outlined.fill {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0;
}
.material-symbols-outlined.bold {
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0,
    'opsz' var(--icon-size);
}
.material-symbols-outlined.fill {
  font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0,
    'opsz' var(--icon-size);
}
